*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #fcfafad2;
    color:slategrey;
}
header{
    background: linear-gradient(
        to bottom,
        black 0%,
        black 70%,
        #fcfafad2 100%
    );
    color: #fcfafad2;
    text-align: center;
    padding: 16px 0;
}
header h1{
    margin-bottom: 8px;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin:0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li a:hover{
    color: crimson;
    cursor:pointer;
}